/* NAvBAr */

.navbar-container{
  background: hsla(0, 0%, 0%, 0.8);
  color: #444444;

}
.headerpart1{
  color: #3EC1D1;
}
.headerone{
  font-size: 28px;
}

/* footer */


.footer-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-container{
  background-color: #F9F9F9;
}
.footer-last{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F1F1F1;
}


